{% include "header.html" %}  
    
    <!-- About Section -->
    
    <section id="about">
        <div class="about-container">
            <div class="image">
                <img src="https://th.bing.com/th/id/OIP._mbUm7fx9kxprhd16l2fbgHaFp?rs=1&pid=ImgDetMain" alt="About Image">
            </div>
            <div class="text">
                <h2>About Us</h2>
                <p>Welcome to Kumkum Beauty Parlour, where your beauty and relaxation are our top priorities!</p>
                <p>Our experienced and friendly team of beauty professionals is dedicated to offering you the best in skincare, haircare, and wellness treatments.</p>
                <p>Whether you're looking for a refreshing facial, a stylish haircut, or a soothing massage, we have something special just for you.</p>
                <p>We look forward to making you look and feel your best!</p>
            </div>
        </div>
    </section>




