{% include "header.html" %} 
    
<section id="contact" style='margin-top:25px'>
  <h2>Contact Us</h2>
  <div class="contact-container">
    <div class="contact-info">
      <h3>Contact</h3>
      <p>Phone: <a href="tel:+919853097534">(+91) 9846387700</a>, <a href="tel:+204444555666">(20) 4444-555-666</a></p>
      <p>Email: <a href="mailto:info@example.com">info@example.com</a></p>
      <p>Follow Us:</p>
      <div class="social-widget">
        <a href="https://www.facebook.com/gracebeautyparlour.fb" target="_blank" class="social-icon si-facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <!-- <a href="https://in.pinterest.com/makeup_artist_rashmi" target="_blank" class="social-icon si-pinterest">
          <i class="fab fa-pinterest-p"></i>
        </a> -->
        <a href="https://www.instagram.com/" target="_blank" class="social-icon si-instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <!-- <a href="https://www.youtube.com/channel/UCECl64jfwxSombrEGnUUp0w" target="_blank" class="social-icon si-youtube">
          <i class="fab fa-youtube"></i>
        </a> -->
      </div>
    </div>
    <div class="address-info">
      <h3>Address</h3>
      <address>
        <p>Gol Chauraha, kanour Road, Auraiya(206122)</p>

        <p>Location: <a href="https://maps.app.goo.gl/j4xftGDg5DFjdzny7">Click to open map</a></p> 
        
      </address>
    </div>
    <div class="opening-hours">
      <h3>Opening Hours</h3>
      <p>Mon - Sat: 09:00 AM - 08:00 PM</p>
    </div>
  </div>
</section>

{% include "footer.html" %} 

