{% include "header.html" %}   
    
 
<section id="gallery"style='margin-top:30px'>
  <h2>Our Gallery</h2>
  <div class="gallery-grid">
    <div class="gallery-container">
      <img src="https://th.bing.com/th/id/OIP.2pENNR3aQMHSIqy9fWTE_gHaLi?rs=1&pid=ImgDetMain" alt="Gallery Image 1">
      <img src="https://th.bing.com/th/id/OIP.QaX2NM3B8rmeNE6VSGcaJQAAAA?w=474&h=636&rs=1&pid=ImgDetMain" alt="Gallery Image 2">
      <img src="https://queensinstyle.com/assets/images/blogs/IMG_9106.jpg" alt="Gallery Image 3">
      <img src="https://th.bing.com/th?id=OIP.6LXqFT8-4Eif10p1cnhxggHaHZ&w=250&h=249&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="Gallery Image 4">
      <img src="https://th.bing.com/th/id/OIP.vf5iHSuyt4eWWF06fWr6LwHaJQ?w=180&h=220&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Gallery Image 5">
      <img src="https://th.bing.com/th/id/OIP.ggc585N06xtrbVXusyzskwHaHa?w=163&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Gallery Image 6">
      <img src="https://th.bing.com/th/id/OIP.2pENNR3aQMHSIqy9fWTE_gHaLi?rs=1&pid=ImgDetMain" alt="Gallery Image 1">
      <img src="https://th.bing.com/th/id/OIP.QaX2NM3B8rmeNE6VSGcaJQAAAA?w=474&h=636&rs=1&pid=ImgDetMain" alt="Gallery Image 2">
      <img src="https://queensinstyle.com/assets/images/blogs/IMG_9106.jpg" alt="Gallery Image 3">
      <img src="https://th.bing.com/th?id=OIP.6LXqFT8-4Eif10p1cnhxggHaHZ&w=250&h=249&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="Gallery Image 4">
      <img src="https://th.bing.com/th/id/OIP.vf5iHSuyt4eWWF06fWr6LwHaJQ?w=180&h=220&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Gallery Image 5">
      <img src="https://th.bing.com/th/id/OIP.ggc585N06xtrbVXusyzskwHaHa?w=163&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Gallery Image 6">

      <!-- <img src="https://example.com/gallery-image-7.jpg" alt="Gallery Image 7"> -->
      <!-- Add more images as needed -->
    </div>
    <div class="slideshow-controls">
      <button id="prevBtn">&lt;</button>
      <button id="nextBtn">&gt;</button>
    </div>
  </div>
</section>


