{% include "header.html" %}   
    

<!-- package section -->
<section id="packages"style='margin-top:40px'>
  <h2 class="stylish-heading">Our Packages</h2>
  <div class="package-container">
    <div class="package-block bridal-package">
      <div class="text-container">
        <h3>Bridal Package</h3>
        <!-- <p>Perfect for the bride-to-be. Our Bridal Package includes:</p> -->
        <p><strong>Price: $1,200</strong></p>
        <ul>
          <li><input type="checkbox" checked disabled> <span>Hairstyle:</span> Hairstyle for your wedding day</li>
          <li><input type="checkbox" checked disabled> <span>Makeup:</span> Trial and wedding day makeup, airbrush option</li>
          <li><input type="checkbox" checked disabled> <span>Skincare:</span> Pre-wedding facials (3 sessions)</li>
          <li><input type="checkbox" checked disabled> <span>Body:</span> Full-body exfoliation, 60-minute massage</li>
          <li><input type="checkbox" checked disabled> <span>Nails:</span> Manicure and pedicure with gel polish</li>
          <li><input type="checkbox" checked disabled> <span>Henna:</span> Bridal designs for hands and feet</li>
          <li><input type="checkbox" checked disabled> <span>Eyebrows Defining:</span> Shaping eyebrows</li>
          <li><input type="checkbox" checked disabled> <span>Jewellery</span> Bridal jewelry to complement your look</li>
        </ul>
      </div>
    </div>
    <div class="package-block engagement-package">
      <div class="text-container">
        <h3>Engagement Package</h3>
        <!-- <p>Get ready for your engagement with our special package:</p> -->
        <p><strong>Price: $600</strong></p>
        <ul>
          <li><input type="checkbox" checked disabled> <span>Hairstyle:</span> Styling for the engagement day</li>
          <li><input type="checkbox" checked disabled> <span>Makeup:</span> Professional makeup application</li>
          <li><input type="checkbox" checked disabled> <span>Skincare:</span> Hydrating facial treatment</li>
          <li><input type="checkbox" checked disabled > <span>Body:</span>Full-body exfoliation, 60-minute massage </li>
          <li><input type="checkbox" checked disabled > <span>Nails:</span> Manicure and pedicure with gel polish </li>
          <li><input type="checkbox" checked disabled> <span>Henna: </span>Bridal designs for hands and feet </li>
          <li><input type="checkbox" checked disabled> <span>Eyebrows Defining:</span> Shaping eyebrows</li>
          <li><input type="checkbox" checked disabled> <span>Jewellery:</span> Accessorize with elegant engagement jewelry</li>
        </ul>
      </div>
    </div>
  </div>
</section>

 


