{% include "header.html" %}
    
    <!-- Services Section -->
    <section id="services" style='margin-top:25px'>
        <h2 class="services-heading">Our Services</h2>
        <div class="service-grid">
          <div class="service">
            <img src="https://th.bing.com/th/id/OIP.LYG3JOfVO5o8_SK6hlZr4QHaE8?rs=1&pid=ImgDetMain" alt="Threading">
            <h3>Threading</h3>
            <p>Get perfectly shaped eyebrows with our expert threading services</p>
            <span class="price">Rs.30</span>
          </div>
          <div class="service">
            <img src="https://th.bing.com/th/id/OIP.aKPCCxmRSup2qt08Fi3dlQHaE8?rs=1&pid=ImgDetMain" alt="Hair Cutting">
            <h3>Hair Cutting</h3>
            <p>Transform your look with our precision hair cutting services</p>
            <span class="price">Rs.100 - Rs.500</span>
          </div>
          <div class="service">
            <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/04/15/14/home-waxing.jpg" alt="Waxing">
            <h3>Waxing</h3>
            <p>Smooth and silky skin with our waxing services for women</p>
            <span class="price">Rs.50 - Rs.500</span>
          </div>
          <div class="service">
            <img src="https://th.bing.com/th/id/OIP.N840h1tKprqCc-1h1SDPjAHaE8?rs=1&pid=ImgDetMain" alt="Manicure">
            <h3>Manicure</h3>
            <p>Get pampered with our luxurious manicure services</p>
            <span class="price">Rs.200</span>
          </div>
          <div class="service">
            <img src="https://th.bing.com/th/id/OIP.gOXu2t-i3FJeSbZ5TohVbQHaFj?rs=1&pid=ImgDetMain" alt="Pedicure">
            <h3>Pedicure</h3>
            <p>Relax and rejuvenate with our indulgent pedicure services</p>
            <span class="price">Rs.200</span>
          </div>
          <div class="service">
            <img src="https://1.bp.blogspot.com/-R6k59U6sxTw/XeDCa5UJE5I/AAAAAAAAAXA/C3UKCx6IShgAVira5Cq23Uzh3XdWqOvfACLcBGAsYHQ/s1600/indian%2Bbridal%2Bmakeup%2Bimages%2Band%2Blooks%2B%252819%2529.jpg" alt="Makeup">
            <h3>Makeup</h3>
            <p>Professional makeup services for all occasions</p>
            <span class="price">Rs.500 - Rs.2000</span>
          </div>
          <div class="service">
            <img src="static/Facial image.jpeg" alt="Facial">
            <h3>Facial</h3>
            <p>Refreshing and rejuvenating facial treatments</p>
            <span class="price">Rs.300 - Rs.1500</span>
          </div>
          <div class="service">
            <img src="https://cdn0.weddingwire.in/articles/images/3/0/0/2/img_22003/south-indian-bridal-hairstyles-for-engagement-prerna-khullar-side-braid-and-puff-with-a-curled-hair-tie.jpg" alt="Hairstyle">
            <h3>Hairstyle</h3>
            <p>Elegant and trendy hairstyles for any event</p>
            <span class="price">Rs.400 - Rs.1500</span>
          </div>
        </div>
      </section>

